.add-to-cart {
  background-color: #2a39ff;
  color: #fff;
  width: 85%;
  z-index: 3;
  position: absolute;
  top: 85%;
  left: 8%;
  padding: 8px 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.hoverIcon {
  cursor: pointer;
  transition: all 0.4s;
}

.add-to-cart:hover {
  animation: btnAnimate 0.4s forwards;
}

@keyframes btnAnimate {
  0% {
    background-color: #2a39ff;
  }
  33% {
    background-color: #862dfc;
  }
  66% {
    background-color: #e431fc;
  }
  100% {
    background-color: #ff2768;
  }
}
