.add-to-cart-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all .4s;
}
.order-btn{
  border: 1px solid rgba(196, 204, 216, 0.70);
  background-color:  rgba(196, 204, 216, 0.70);
  border-radius: 4px;
  margin-top: 14px;
  margin-left: 8px;
  font-size: 14px;
  transition: all .4s;
}

.order-btn:hover {
  color: #628281;
}



.hoverIcon {
  cursor: pointer;
  color: #41434688;
  margin: 4px 12px;
  transition: all 0.4s;
}

.hoverIcon:hover{
  color: #0080ff;
}



@media screen and (max-width: 800px){
  .add-to-cart{
    width: 100%;
    padding: 8px 4px;
    font-size: 16px;
    left: 0;
  }
  .hoverIcon{
    margin: 4px 8px;
    font-size: 12px;  
  }
}

@keyframes btnsContainer {
  0% {
    display: none;
    opacity: 0%;
    
  }
  50%{
    display: block;
    opacity: 50%;
    
  }
  100% {
    display: block;
    opacity: 100%;
  }
 
}
