.navActive {
  color: #012142;
  border-bottom: 1.5px solid #628281;
  transition: all 0.4s;
  border-width: 100%;
}
.navHover {
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.navHover:hover {
  transform: translateY(-3px);
  color: #012142; /* Optional: reinforce hover color */
}

.navHover:hover {
  color: #012142;
  border-bottom: 1px solid #012142;
}
.category-item {
  cursor: pointer;
  color: #000;
  transition: all 0.4s;
}
.category-item:hover {
  color: #012142;
}

@media only screen and (max-width: 991px) {
  .shopDropdownListPage {
    width: 75%;
  }
}

